<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('gallery.html') }}">Gallery</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"></a></li>
            <li><a href="{{ url_for('add_picture') }}">ad picture</a></li>
          </ul>
        </div>
      </nav>

{% block content %}
    <h2>All pictures :</h2>
    <ol class="list-group list-group-flush">
        {% for g in gal %}
            <img src="{{ g }}"> 
        {% endfor %}
    </ol>
{% endblock %}
</body>
</html>